<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBA News</title>
</head>
<body>
    <a href="/logout">Log Out</a>
    <h1>Welcome {{current_user.first_name}}</h1>

    {% for i in espn %}
    <h1><a href="{{i.url}}">{{i.title}}</a></h1>
    
    <img src="{{i.url_image}}" alt="">
    {%endfor%}
    {% for i in bleacher %}
    <h1><a href="{{i.url}}">{{i.title}}</a></h1>
    
    <img src="{{i.url_image}}" alt="">
    {%endfor%}

    
</body>
</html>